<form action="/recipes" method="POST">
  <input type="text" name="name">
  <input type="text" name="ingredients">
  <input type="text" name="cook time">
  <input type="submit" value="Submit">
</form>
